sample/DataTestDef.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>724205b6-017b-1000-aff7-9e90ce182165</groupId>
    <name>DataTestDef</name>
    <snippet>
        <connections>
            <id>0142a8ef-7bdb-3949-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>39358750-29cf-3c10-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>retry</selectedRelationships>
            <source>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>7ef28c16-54d2-3842-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>0d14d881-5fa8-3190-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>87414992-aa47-3d49-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>1a114643-48c6-3345-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>34a1282d-0033-3d5a-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>1a114643-48c6-3345-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>6ea31793-daaf-35a1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>382104c3-0630-3db3-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>5c207f34-329d-3ee4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>a7000319-91c0-3714-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5a0e089c-67b8-39ce-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>df291a83-d6b4-3f27-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>5c207f34-329d-3ee4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>794d00e9-5641-342b-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>aeb591e3-b100-30b4-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>f41fe2ee-8270-3e94-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>79f09e8d-eba3-34e9-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>7cfdda4a-cc90-344c-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>1a114643-48c6-3345-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a4169020-1fee-3e53-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>a7000319-91c0-3714-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>6ea31793-daaf-35a1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a932b0a9-04ef-3e62-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>b4de59e0-4f7f-3708-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>parse.failure</selectedRelationships>
            <source>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>f41fe2ee-8270-3e94-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b173dc9c-c443-35c8-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>29f281e1-8249-32f0-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>5c207f34-329d-3ee4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f1f059ce-eb02-3873-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>eea09979-6397-3867-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>7ef28c16-54d2-3842-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f4f2b52c-e730-3a4d-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>7ef28c16-54d2-3842-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>10d06270-764d-3202-0000-000000000000</groupId>
                <id>6ea31793-daaf-35a1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>0d759be3-469b-3b13-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>DBCPConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:postgresql://postgres:5432/datatask</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>org.postgresql.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>admin</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>5000 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>34ae1a33-8db6-323b-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>397fcbfa-2e95-3f08-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
                <entry>
                    <key>encoder-pool-size</key>
                    <value>
                        <name>encoder-pool-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>confluent-encoded</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>e42150c3-afe7-39cb-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>NONE</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
                <entry>
                    <key>encoder-pool-size</key>
                    <value>32</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>4d0551c2-0bf6-37a8-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>dbb57071-bab1-30a0-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>confluent-encoded</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>e42150c3-afe7-39cb-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroReader</type>
        </controllerServices>
        <controllerServices>
            <id>e42150c3-afe7-39cb-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-confluent-platform-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>url</key>
                    <value>
                        <name>url</name>
                    </value>
                </entry>
                <entry>
                    <key>ssl-context</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>ssl-context</name>
                    </value>
                </entry>
                <entry>
                    <key>timeout</key>
                    <value>
                        <name>timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-expiration</key>
                    <value>
                        <name>cache-expiration</name>
                    </value>
                </entry>
                <entry>
                    <key>authentication-type</key>
                    <value>
                        <name>authentication-type</name>
                    </value>
                </entry>
                <entry>
                    <key>username</key>
                    <value>
                        <dependencies>
                            <dependentValues>BASIC</dependentValues>
                            <propertyName>authentication-type</propertyName>
                        </dependencies>
                        <name>username</name>
                    </value>
                </entry>
                <entry>
                    <key>password</key>
                    <value>
                        <dependencies>
                            <dependentValues>BASIC</dependentValues>
                            <propertyName>authentication-type</propertyName>
                        </dependencies>
                        <name>password</name>
                    </value>
                </entry>
            </descriptors>
            <name>ConfluentSchemaRegistry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>url</key>
                    <value>http://schema-registry:8081</value>
                </entry>
                <entry>
                    <key>ssl-context</key>
                </entry>
                <entry>
                    <key>timeout</key>
                    <value>30 secs</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
                <entry>
                    <key>cache-expiration</key>
                    <value>1 hour</value>
                </entry>
                <entry>
                    <key>authentication-type</key>
                    <value>NONE</value>
                </entry>
                <entry>
                    <key>username</key>
                </entry>
                <entry>
                    <key>password</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.confluent.schemaregistry.ConfluentSchemaRegistry</type>
        </controllerServices>
        <funnels>
            <id>29f281e1-8249-32f0-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <position>
                <x>1160.0</x>
                <y>1248.0</y>
            </position>
        </funnels>
        <funnels>
            <id>39358750-29cf-3c10-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <position>
                <x>1008.0</x>
                <y>0.0</y>
            </position>
        </funnels>
        <funnels>
            <id>7cfdda4a-cc90-344c-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <position>
                <x>2062.0</x>
                <y>738.0</y>
            </position>
        </funnels>
        <funnels>
            <id>87414992-aa47-3d49-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <position>
                <x>2030.0</x>
                <y>237.0</y>
            </position>
        </funnels>
        <funnels>
            <id>aeb591e3-b100-30b4-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <position>
                <x>152.0</x>
                <y>856.0</y>
            </position>
        </funnels>
        <funnels>
            <id>b4de59e0-4f7f-3708-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <position>
                <x>616.0</x>
                <y>576.0</y>
            </position>
        </funnels>
        <funnels>
            <id>df291a83-d6b4-3f27-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <position>
                <x>744.0</x>
                <y>1272.0</y>
            </position>
        </funnels>
        <funnels>
            <id>eea09979-6397-3867-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <position>
                <x>504.0</x>
                <y>184.0</y>
            </position>
        </funnels>
        <processors>
            <id>1a114643-48c6-3345-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <position>
                <x>1603.0</x>
                <y>413.0</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-2-6-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>
                            <name>acks</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>
                            <name>Failure Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>
                            <name>use-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                        <value>
                            <name>transactional-id-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                        <value>
                            <name>kafka-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>
                            <name>max.request.size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>
                            <name>ack.wait.time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>
                            <name>max.block.ms</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>
                            <name>partitioner.class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partition</key>
                        <value>
                            <name>partition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>
                            <name>compression.type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>broker:29092</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>GSSAPI</value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>test</value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>Route to Failure</value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>5 sec</value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                    </entry>
                    <entry>
                        <key>partition</key>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>none</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Json_PublishKafka_2_6</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6</type>
        </processors>
        <processors>
            <id>5c207f34-329d-3ee4-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <position>
                <x>864.0</x>
                <y>912.0</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-2-6-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>
                            <name>use-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>
                            <name>Failure Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                        <value>
                            <name>transactional-id-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>
                            <name>acks</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-key-field</key>
                        <value>
                            <name>message-key-field</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>
                            <name>max.request.size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>
                            <name>ack.wait.time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>
                            <name>max.block.ms</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>
                            <name>partitioner.class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partition</key>
                        <value>
                            <name>partition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>
                            <name>compression.type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>broker:29092</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>test-avro</value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>34ae1a33-8db6-323b-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>397fcbfa-2e95-3f08-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>Route to Failure</value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>GSSAPI</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>message-key-field</key>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>5 sec</value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                    </entry>
                    <entry>
                        <key>partition</key>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>none</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SchemaRegistry_PublishKafkaRecord_2_6</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6</type>
        </processors>
        <processors>
            <id>6ea31793-daaf-35a1-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <position>
                <x>864.0</x>
                <y>416.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>{"hello": "text"}</value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GenerateFlowFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>7ef28c16-54d2-3842-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <position>
                <x>864.0</x>
                <y>144.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>put-db-record-record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>put-db-record-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>db-type</key>
                        <value>
                            <name>db-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-statement-type</key>
                        <value>
                            <name>put-db-record-statement-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Statement Type Record Path</key>
                        <value>
                            <dependencies>
<dependentValues>Use Record Path</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
                            </dependencies>
                            <name>Statement Type Record Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Record Path</key>
                        <value>
                            <name>Data Record Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-dcbp-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>put-db-record-dcbp-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-catalog-name</key>
                        <value>
                            <name>put-db-record-catalog-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-schema-name</key>
                        <value>
                            <name>put-db-record-schema-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-table-name</key>
                        <value>
                            <name>put-db-record-table-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-translate-field-names</key>
                        <value>
                            <name>put-db-record-translate-field-names</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-unmatched-field-behavior</key>
                        <value>
                            <name>put-db-record-unmatched-field-behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-unmatched-column-behavior</key>
                        <value>
                            <name>put-db-record-unmatched-column-behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-update-keys</key>
                        <value>
                            <dependencies>
<dependentValues>Use statement.type Attribute</dependentValues>
<dependentValues>Use Record Path</dependentValues>
<dependentValues>UPSERT</dependentValues>
<dependentValues>UPDATE</dependentValues>
<dependentValues>SQL</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
                            </dependencies>
                            <name>put-db-record-update-keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-field-containing-sql</key>
                        <value>
                            <dependencies>
<dependentValues>Use statement.type Attribute</dependentValues>
<dependentValues>Use Record Path</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
                            </dependencies>
                            <name>put-db-record-field-containing-sql</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-allow-multiple-statements</key>
                        <value>
                            <dependencies>
<dependentValues>Use statement.type Attribute</dependentValues>
<dependentValues>Use Record Path</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
                            </dependencies>
                            <name>put-db-record-allow-multiple-statements</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-quoted-identifiers</key>
                        <value>
                            <name>put-db-record-quoted-identifiers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-quoted-table-identifiers</key>
                        <value>
                            <name>put-db-record-quoted-table-identifiers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-query-timeout</key>
                        <value>
                            <name>put-db-record-query-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                    <entry>
                        <key>table-schema-cache-size</key>
                        <value>
                            <name>table-schema-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-max-batch-size</key>
                        <value>
                            <dependencies>
<dependentValues>Use statement.type Attribute</dependentValues>
<dependentValues>Use Record Path</dependentValues>
<dependentValues>INSERT</dependentValues>
<dependentValues>UPDATE</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
                            </dependencies>
                            <name>put-db-record-max-batch-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>put-db-record-record-reader</key>
                        <value>34ae1a33-8db6-323b-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>db-type</key>
                        <value>PostgreSQL</value>
                    </entry>
                    <entry>
                        <key>put-db-record-statement-type</key>
                        <value>INSERT</value>
                    </entry>
                    <entry>
                        <key>Statement Type Record Path</key>
                    </entry>
                    <entry>
                        <key>Data Record Path</key>
                    </entry>
                    <entry>
                        <key>put-db-record-dcbp-service</key>
                        <value>0d759be3-469b-3b13-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-db-record-catalog-name</key>
                    </entry>
                    <entry>
                        <key>put-db-record-schema-name</key>
                        <value>public</value>
                    </entry>
                    <entry>
                        <key>put-db-record-table-name</key>
                        <value>test_db</value>
                    </entry>
                    <entry>
                        <key>put-db-record-translate-field-names</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-db-record-unmatched-field-behavior</key>
                        <value>Ignore Unmatched Fields</value>
                    </entry>
                    <entry>
                        <key>put-db-record-unmatched-column-behavior</key>
                        <value>Fail on Unmatched Columns</value>
                    </entry>
                    <entry>
                        <key>put-db-record-update-keys</key>
                    </entry>
                    <entry>
                        <key>put-db-record-field-containing-sql</key>
                    </entry>
                    <entry>
                        <key>put-db-record-allow-multiple-statements</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-db-record-quoted-identifiers</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-db-record-quoted-table-identifiers</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-db-record-query-timeout</key>
                        <value>0 seconds</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>table-schema-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>put-db-record-max-batch-size</key>
                        <value>0</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Postgres_PutDatabaseRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
        </processors>
        <processors>
            <id>a7000319-91c0-3714-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <position>
                <x>864.0</x>
                <y>640.0</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>
                            <name>schema.name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>test-avro-value</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>f41fe2ee-8270-3e94-0000-000000000000</id>
            <parentGroupId>10d06270-764d-3202-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>536.0</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-2-6-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.14.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>
                            <name>topic_type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>
                            <name>honor-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>
                            <name>group.id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>
                            <name>separate-by-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>
                            <name>auto.offset.reset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                        <value>
                            <name>header-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>
                            <name>max.poll.records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>
                            <name>max-uncommit-offset-wait</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>broker:29092</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>test-avro</value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>names</value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>dbb57071-bab1-30a0-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>4d0551c2-0bf6-37a8-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>GSSAPI</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>datatask</value>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>earliest</value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>10000</value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>1 secs</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>60 secs</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Avro_ConsumeKafkaRecord_2_6</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>parse.failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6</type>
        </processors>
    </snippet>
    <timestamp>08/23/2021 14:36:22 UTC</timestamp>
</template>
